*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.container{
    background-color: #b8b5b5;

    margin-left: 35%;
    margin-top: 15px;
}

body{
    background-color: black;
}

@media (max-width:600px){
    .container{
        width: 100%;
    }
}
